dj_database_url==2.1.0
Django==3.2.21
djangorestframework==3.14.0
numpy==1.23.3
protobuf==3.6.1
StrawberryFields==0.23.0
webapp2==2.5.2
crispy-bootstrap5==0.7
django-crispy-forms==2.0
psycopg2==2.9.7
gunicorn==21.2.0