{% extends 'base.html' %}
{% load static %}
{% block "content" %}
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 250px;height: 670;">
    <a href="/LODesigner/create_project" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Create new Project</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
      {% for project in projects %}
        <a href="#"  id="project{{project.id}}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{project.name}}</strong>
            <small>{{project.updated.date}}</small>
          </div>
          <div class="col-10 mb-1 small">{{project.description}}</div>
        </a>
      {% endfor %}
    </div>
  </div>
  <ul style="padding-left:5;">
  <div style="margin: 5;display: flex;flex-direction: row;"> 
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        backend
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" onclick="changeBackend('fock')">Fock</a></li>
        <li><a class="dropdown-item" href="#" onclick="changeBackend('gaussian')">Gaussian</a></li>
      </ul>
      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Simulation
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" onclick="changeMeasurements(true)">state samples</a></li>
        <li><a class="dropdown-item" href="#" onclick="changeMeasurements(false)">gaussian_unitary</a></li>
      </ul>
      <button id="simulate-button" class="btn btn-secondary btn-sm" type="button" aria-expanded="false" onclick="GetSimulationResults()">
        simulate
      </button>
    </div>
  </div>
  <div id="composer-div" style="position: relative;">
  <div id="results-screen" class="bg-body-tertiary border rounded-3" style="opacity: 0.95;margin:10;width:900;height:600;z-index:-100;position: absolute;top: 0;left: 0;">
    {% comment %} <iframe id="project_simulation_iframe" src="{% url 'simulate' project_key=-1 %}" title="description" style="position: absolute;top: 0;left: 0;"></iframe> {% endcomment %}
    <div style="margin-left: auto;">
      <div id="project_simulation_iframe"><p align="center">Please wait for the results</p></div>
      <div style="text-align: center; margin-left: auto; margin-right: auto;"><div id="spinner_spinner" class="spinner-border" role="status" style="opacity: 0"></div></div>
    </div>
  </div>
  <iframe id="project_iframe" src="{% url 'lo_designer' project_key=-1 %}" title="description" style="position: absolute;top: 0;left: 0;z-index:5;max-height: 630; max-width: 1400;height:720;width:1400;"></iframe>
  </div>  
</ul>
{% endblock "content" %}
{% block "footer_scripts" %}
{% comment %} <script src="{% static 'js/projects.js' %}"></script> {% endcomment %}
<script>
  var display_results = true;
  var backend = 'Fock';
  var global_id = -1;
  var global_current_simulated = false;
  var measurements = false
  $(document).ready(function() {
    projects = JSON.parse(JSON.parse(document.getElementById('projects_data').textContent));
    projects.forEach(function(project){
        $("#project" + project.id).on( "click", data={id: project.id}, onclick);
    });
  });
  function onclick(event){
    id = event.data.id;
    global_id = event.data.id;
    $('#project_iframe').attr('src', "/LODesigner/lo_designer/"+id);
    projects.forEach(function(project){
      $("#project" + project.id).removeClass("active");
    });
    $("#project" + id).addClass("active");
  }
  function desplayResultsScreen(){
    if(!global_current_simulated){
      // insert loading gif
      //$('#project_simulation_iframe').attr('src', "/LODesigner/simulate"+global_id);
      $("#spinner_spinner").css("opacity", "1");
      global_current_simulated = true;
    }
    if(display_results == true){
      display_results = false;
      $("#results-screen").css("z-index", "100");
    }else{
      display_results = true;
      $("#results-screen").css("z-index", "-100");
    }
  }
  function GetSimulationResults(){
    desplayResultsScreen()
    var simulation = $.ajax({
      type: "GET",
      url: "http://127.0.0.1:8000/LODesigner/simulate/" + global_id,
      data: {
        backend: backend,
        measurements: measurements,
      },
      async: true
    });
    console.log(measurements)
    simulation.done(function(json) {
      console.log(json);
      document.getElementById("project_simulation_iframe").innerHTML = json;
      $("#spinner_spinner").css("opacity", "0");
    });
  }
  function changeBackend(back){
    backend = back
  }
  function changeMeasurements(mess){
    measurements = mess
  }
</script>
{{ projects_json|json_script:"projects_data" }}
{% endblock "footer_scripts" %}